<section class="section-gallary">
  <div class="container">
    <h2 class="title-gallary">Breathe in the Space</h2>
    <p class="text-gallary">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="list-gallary">
      <li class="item-gallary">
        <picture>
          <source
            srcset="
              /img/jpeg/gallery-1-desk.jpg    1x,
              /img/jpeg/gallery-1-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-1-tab.jpg    1x,
              /img/jpeg/gallery-1-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-1-mob.jpg    1x,
              /img/jpeg/gallery-1-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/jpeg/gallery-1-mob.jpg"
            alt="yoga session in a calm studio"
            class="image-gallary"
          />
        </picture>
      </li>
      <li class="item-gallary">
        <picture>
          <source
            srcset="
              /img/jpeg/gallery-2-desk.jpg    1x,
              /img/jpeg/gallery-2-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-2-tab.jpg    1x,
              /img/jpeg/gallery-2-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-2-mob.jpg    1x,
              /img/jpeg/gallery-2-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/jpeg/gallery-2-mob.jpg"
            alt="yoga session in a calm studio"
            class="image-gallary"
          />
        </picture>
      </li>
      <li class="item-gallary">
        <picture>
          <source
            srcset="
              /img/jpeg/gallery-3-desk.jpg    1x,
              /img/jpeg/gallery-3-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-3-tab.jpg    1x,
              /img/jpeg/gallery-3-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-3-mob.jpg    1x,
              /img/jpeg/gallery-3-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/jpeg/gallery-3-mob.jpg"
            alt="yoga session in a calm studio"
            class="image-gallary"
          />
        </picture>
      </li>
      <li class="item-gallary">
        <picture>
          <source
            srcset="
              /img/jpeg/gallery-4-desk.jpg    1x,
              /img/jpeg/gallery-4-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-4-tab.jpg    1x,
              /img/jpeg/gallery-4-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-4-mob.jpg    1x,
              /img/jpeg/gallery-4-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/jpeg/gallery-4-mob.jpg"
            alt="yoga session in a calm studio"
            class="image-gallary"
          />
        </picture>
      </li>
      <li class="item-gallary">
        <picture>
          <source
            srcset="
              /img/jpeg/gallery-5-desk.jpg    1x,
              /img/jpeg/gallery-5-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-5-tab.jpg    1x,
              /img/jpeg/gallery-5-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-5-mob.jpg    1x,
              /img/jpeg/gallery-5-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/jpeg/gallery-5-mob.jpg"
            alt="yoga session in a calm studio"
            class="image-gallary"
          />
        </picture>
      </li>
      <li class="item-gallary">
        <picture>
          <source
            srcset="
              /img/jpeg/gallery-6-desk.jpg    1x,
              /img/jpeg/gallery-6-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-6-tab.jpg    1x,
              /img/jpeg/gallery-6-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/jpeg/gallery-6-mob.jpg    1x,
              /img/jpeg/gallery-6-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/jpeg/gallery-6-mob.jpg"
            alt="yoga session in a calm studio"
            class="image-gallary"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
