<header class="header">
  <div class="container header-container">
    <!-- Навігація -->
    <nav class="header-nav">
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="./yoga-classes.html" class="nav-link">Yoga Classes</a>
        </li>
        <li class="nav-item">
          <a href="./team.html" class="nav-link">Team</a>
        </li>
        <li class="nav-item">
          <a href="./testimonials.html" class="nav-link">Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="./pricing.html" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="./footer.html" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- Бургер -->
    <div class="brg-button-wrapper">
      <button class="brg-button">
        <svg class="brg-button-svg" width="24" height="24">
          <use href="../img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>

    <!-- Логотип -->
    <div class="header-logo">
      <a href="../index.html">
        <svg class="header-logo-svg" width="75" height="32">
          <use href="../img/sprite.svg#icon-company-logo"></use>
        </svg>
      </a>
    </div>

    <!-- Кнопка -->
    <div class="header-button-container">
      <a href="./pricing.html" class="header-btn">
        <span class="btn-text mobile-btn-text">Join</span>
        <span class="btn-text desktop-btn-text">Join Now</span>
      </a>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-menu-top">
        <button type="button" class="mobile-close-btn">
          <svg class="mobile-close-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <svg class="mobile-logo" width="75" height="32">
          <use href="../img/sprite.svg#icon-company-logo"></use>
        </svg>
        <div class="mobile-button-container">
          <a href="./pricing.html" class="header-btn">
            <span class="btn-text mobile-btn-text">Join</span>
            <span class="btn-text desktop-btn-text">Join Now</span>
          </a>
        </div>
      </div>
      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-item">
            <a href="./yoga-classes.html" class="mobile-nav-link"
              >Yoga Classes</a
            >
          </li>
          <li class="mobile-nav-item">
            <a href="./team.html" class="mobile-nav-link">Team</a>
          </li>
          <li class="mobile-nav-item">
            <a href="./testimonials.html" class="mobile-nav-link"
              >Testimonials</a
            >
          </li>
          <li class="mobile-nav-item">
            <a href="./pricing.html" class="mobile-nav-link">Pricing</a>
          </li>
          <li class="mobile-nav-item">
            <a href="./footer.html" class="mobile-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="mobile-btn-container">
        <a href="./pricing.html" class="mobile-button-text">Join</a>
      </div>
    </div>
  </div>
</header>
