<section class="section-hero">
  <div class="container">
    <div class="hero-image-wrapper">
      <picture>
        <source
          media="(min-width: 1336px)"
          srcset="/img/jpeg/hero-desk.jpg 1x, /img/jpeg/hero-desk@2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/jpeg/hero-tab.jpg 1x, /img/jpeg/hero-tab@2x.jpg 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/jpeg/hero-mob.jpg 1x, /img/jpeg/hero-mob@2x.jpg 2x"
        />
        <img
          class="image-set-hero"
          src="/img/jpeg/hero-mob.jpg"
          alt="woman in the yoga pose"
        />
      </picture>
    </div>

    <div class="hero-text-wrapper">
      <h1 class="hero-first-heading">
        Transform Your Life with Our Yoga Courses
      </h1>

      <div class="hero-text-link-wrapper">
        <p class="hero-paragraf">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>

        <ul class="hero-join-list">
          <li class="hero-join-item btn-animation-first">
            <a class="hero-join-item-link" href="#pricing">Join</a>
          </li>
          <li class="hero-learn-item btn-animation-second">
            <a class="hero-join-item-link" href="#gallary">Learn More</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
