<div class="pricing-backdrop" data-modal1>
  <div class="pricing-modal">
    <button class="pricing-close-btn" type="button" data-modal1-close>
      <svg class="pricing-close-svg" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="pricing-modal-text title">Join Now!</h2>
    <p class="pricing-modal-text session">One Session</p>
    <p class="pricing-modal-text price">$10</p>
    <form name="pricing-modal-form" autocomplete="off" novalidate>
      <div class="pricing-modal-form-list">
        <label class="pricing-modal-form-label" for="user-name-one-session"
          >Your Name</label
        >
        <div class="pricing-modal-input">
          <input
            class="pricing-form-input"
            type="text"
            name="user-name-one-session"
            id="user-name-one-session"
            required
            placeholder="Liam"
          />
        </div>
      </div>
      <div class="pricing-input">
        <div class="pricing-modal-form-list">
          <label class="pricing-modal-form-label" for="user-email-one-session"
            >Email</label
          >
          <div class="pricing-modal-input">
            <input
              class="pricing-form-input"
              type="email"
              name="user-email-one-session"
              id="user-email-one-session"
              placeholder="hello@yogabloom.com"
              required
            />
          </div>
        </div>
        <div class="pricing-modal-form-list">
          <label class="pricing-modal-form-label" for="user-phone-one-session"
            >Phone number</label
          >
          <div class="pricing-modal-input">
            <input
              class="pricing-form-input"
              type="tel"
              name="user-phone-one-session"
              id="user-phone-one-session"
              placeholder="+380 (95) 123 12 12"
              required
            />
          </div>
        </div>
      </div>
      <button class="pricing-modal-send-btn" type="submit">
        Go to checkout
      </button>
    </form>
  </div>
</div>
<div class="pricing-backdrop" data-modal2>
  <div class="pricing-modal">
    <button class="pricing-close-btn" type="button" data-modal2-close>
      <svg class="pricing-close-svg" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="pricing-modal-text title">Join Now!</h2>
    <p class="pricing-modal-text session">8 Sessions Package</p>
    <p class="pricing-modal-text price">$65</p>
    <form name="pricing-modal-form" autocomplete="off" novalidate>
      <div class="pricing-modal-form-list">
        <label class="pricing-modal-form-label" for="user-name-eight-sessions"
          >Your Name</label
        >
        <div class="pricing-modal-input">
          <input
            class="pricing-form-input"
            type="text"
            name="user-name-eight-sessions"
            id="user-name-eight-sessions"
            required
            placeholder="Liam"
          />
        </div>
      </div>
      <div class="pricing-input">
        <div class="pricing-modal-form-list">
          <label
            class="pricing-modal-form-label"
            for="user-email-eight-sessions"
            >Email</label
          >
          <div class="pricing-modal-input">
            <input
              class="pricing-form-input"
              type="email"
              name="user-email-eight-sessions"
              id="user-email-eight-sessions"
              placeholder="hello@yogabloom.com"
              required
            />
          </div>
        </div>
        <div class="pricing-modal-form-list">
          <label
            class="pricing-modal-form-label"
            for="user-phone-eight-sessions"
            >Phone number</label
          >
          <div class="pricing-modal-input">
            <input
              class="pricing-form-input"
              type="tel"
              name="user-phone-eight-sessions"
              id="user-phone-eight-sessions"
              placeholder="+380 (95) 123 12 12"
              required
            />
          </div>
        </div>
      </div>
      <button class="pricing-modal-send-btn" type="submit">
        Go to checkout
      </button>
    </form>
  </div>
</div>
<div class="pricing-backdrop" data-modal3>
  <div class="pricing-modal">
    <button class="pricing-close-btn" type="button" data-modal3-close>
      <svg class="pricing-close-svg" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="pricing-modal-text title">Join Now!</h2>
    <p class="pricing-modal-text session">12 Sessions Package</p>
    <p class="pricing-modal-text price">$80</p>
    <form name="pricing-modal-form" autocomplete="off" novalidate>
      <div class="pricing-modal-form-list">
        <label class="pricing-modal-form-label" for="user-name-twelve-sessions"
          >Your Name</label
        >
        <div class="pricing-modal-input">
          <input
            class="pricing-form-input"
            type="text"
            name="user-name-twelve-sessions"
            id="user-name-twelve-sessions"
            required
            placeholder="Liam"
          />
        </div>
      </div>
      <div class="pricing-input">
        <div class="pricing-modal-form-list">
          <label
            class="pricing-modal-form-label"
            for="user-email-twelve-sessions"
            >Email</label
          >
          <div class="pricing-modal-input">
            <input
              class="pricing-form-input"
              type="email"
              name="user-email-twelve-sessions"
              id="user-email-twelve-sessions"
              placeholder="hello@yogabloom.com"
              required
            />
          </div>
        </div>
        <div class="pricing-modal-form-list">
          <label
            class="pricing-modal-form-label"
            for="user-phone-twelve-sessions"
            >Phone number</label
          >
          <div class="pricing-modal-input">
            <input
              class="pricing-form-input"
              type="tel"
              name="user-phone-twelve-sessions"
              id="user-phone-twelve-sessions"
              placeholder="+380 (95) 123 12 12"
              required
            />
          </div>
        </div>
      </div>
      <button class="pricing-modal-send-btn" type="submit">
        Go to checkout
      </button>
    </form>
  </div>
</div>
