<section class="team-section" id="team">
  <div class="container">
    <p class="team-subtitle">Meet</p>
    <h2 class="team-title">Our Team</h2>
    <p class="team-text">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-item-image">
        <picture>
          <source
            srcset="
              /img/jpeg/team-1-desk.jpg    1x,
              /img/jpeg/team-1-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/jpeg/team-1-tab.jpg 1x, /img/jpeg/team-1-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/jpeg/team-1-mob.jpg 1x, /img/jpeg/team-1-mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/jpeg/team-1-mob.jpg"
            alt="Male coach"
          />
        </picture>
        <h3 class="team-title-image">Liam Johnson</h3>
        <p class="team-category-text">Yoga Instructor</p>
        <p class="team-image-text">
          Emma has over 10 years of experience in Hatha and Vinyasa yoga.
        </p>
        <ul class="team-socials">
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item-image">
        <picture>
          <source
            srcset="
              /img/jpeg/team-2-desk.jpg    1x,
              /img/jpeg/team-2-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/jpeg/team-2-tab.jpg 1x, /img/jpeg/team-2-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/jpeg/team-2-mob.jpg 1x, /img/jpeg/team-2-mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/jpeg/team-2-mob.jpg"
            alt="Female coach"
          />
        </picture>
        <h3 class="team-title-image">Emma Stone</h3>
        <p class="team-category-text">Meditation Coach</p>
        <p class="team-image-text">
          Liam specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-socials">
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item-image">
        <picture>
          <source
            srcset="
              /img/jpeg/team-3-desk.jpg    1x,
              /img/jpeg/team-3-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/jpeg/team-3-tab.jpg 1x, /img/jpeg/team-3-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/jpeg/team-3-mob.jpg 1x, /img/jpeg/team-3-mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/jpeg/team-3-mob.jpg"
            alt="Female coach"
          />
        </picture>
        <h3 class="team-title-image">Sophia Lee</h3>
        <p class="team-category-text">Pilates Trainer</p>
        <p class="team-image-text">
          Sophia combines Pilates with yoga for a holistic fitness approach.
        </p>
        <ul class="team-socials">
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item-image">
        <picture>
          <source
            srcset="
              /img/jpeg/team-4-desk.jpg    1x,
              /img/jpeg/team-4-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/jpeg/team-4-tab.jpg 1x, /img/jpeg/team-4-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/jpeg/team-4-mob.jpg 1x, /img/jpeg/team-4-mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/jpeg/team-4-mob.jpg"
            alt="Female coach"
          />
        </picture>
        <h3 class="team-title-image">Noah Brown</h3>
        <p class="team-category-text">Yoga Therapist</p>
        <p class="team-image-text">
          Noah focuses on therapeutic yoga to aid recovery and enhance
          well-being.
        </p>
        <ul class="team-socials">
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item-image">
        <picture>
          <source
            srcset="
              /img/jpeg/team-5-desk.jpg    1x,
              /img/jpeg/team-5-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/jpeg/team-5-tab.jpg 1x, /img/jpeg/team-5-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/jpeg/team-5-mob.jpg 1x, /img/jpeg/team-5-mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/jpeg/team-5-mob.jpg"
            alt="Female coach"
          />
        </picture>
        <h3 class="team-title-image">Ava Green</h3>
        <p class="team-category-text">Fitness Trainer</p>
        <p class="team-image-text">
          Ava integrates strength training with yoga to promote overall fitness.
        </p>
        <ul class="team-socials">
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item-image">
        <picture>
          <source
            srcset="
              /img/jpeg/team-6-desk.jpg    1x,
              /img/jpeg/team-6-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/jpeg/team-6-tab.jpg 1x, /img/jpeg/team-6-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/jpeg/team-6-mob.jpg 1x, /img/jpeg/team-6-mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/jpeg/team-6-mob.jpg"
            alt="Male coach"
          />
        </picture>
        <h3 class="team-title-image">We're hiring!</h3>
        <p class="team-category-text">Join Us</p>
        <p class="team-image-text">
          If you're passionate about yoga, check our open positions and apply!
        </p>
        <ul class="team-socials">
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
