
  <section class="section-team">
    <div class="container">
      <p class="team-meet">Meet</p>
      <h2 class="team-title">Our Team</h2>
      <p class="team-text">
        Dedicated professionals passionate about yoga and wellness
      </p>
      <ul class="team-list">
        <li class="team-list-item">
          <img class="team-image" src="/img/jpeg/team-1-desk.jpg" alt="Liam Johnson" height="395" weight="421">
          <div class="team-item-cont">
            <h3 class="team-item-title">
              Liam Johnson
            </h3>
            <p class="team-item-text">
              Yoga Instructor
            </p>
            <p class="text-description-team">
              Liam specializes in mindfulness and stress reduction techniques through guided meditation.
            </p>
            <ul class="team-icon-list">
              <li class="team-item-icon">
                <a href="https://www.linkedin.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="https://www.instagram.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list-item">
          <img class="team-image" src="/img/jpeg/team-2-desk.jpg" alt="Liam Johnson" height="398" weight="421">
          <div class="team-item-cont">
            <h3 class="team-item-title">
              Emma Stone
            </h3>
            <p class="team-item-text">
              Meditation Coach
            </p>
            <p class="text-description-team">
              Emma has over 10 years of experience in Hatha and Vinyasa yoga.
            </p>
            <ul class="team-icon-list">
              <li class="team-item-icon">
                <a href="https://www.linkedin.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list-item">
          <img class="team-image" src="/img/jpeg/team-3-desk.jpg" alt="Liam Johnson" height="395" weight="421">
          <div class="team-item-cont">
            <h3 class="team-item-title">
              Sophia Lee
            </h3>
            <p class="team-item-text">
              Pilates Trainer
            </p>
            <p class="text-description-team">
              Sophia combines Pilates with yoga for a holistic fitness approach.
            </p>
            <ul class="team-icon-list">
              <li class="team-list-item">
                <a href="https://www.instagram.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list-item">
          <img class="team-image" src="/img/jpeg/team-4-desk.jpg" alt="Liam Johnson" height="410" weight="421">
          <div class="team-item-cont">
            <h3 class="team-item-title">
              Noah Brown
            </h3>
            <p class="team-item-text">
              Yoga Therapist
            </p>
            <p class="text-description-team">
              Noah focuses on therapeutic yoga to aid recovery and enhance well-being.
            </p>
            <ul class="team-icon-list">
              <li class="team-item-icon">
                <a href="https://www.linkedin.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list-item">
          <img class="team-image" src="/img/jpeg/team-5-desk.jpg" alt="Liam Johnson" height="410" weight="421">
          <div class="team-item-cont">
            <h3 class="team-item-title">
              Ava Green
            </h3>
            <p class="team-item-text">
              Fitness Trainer
            </p>
            <p class="text-description-team">
              Ava integrates strength training with yoga to promote overall fitness.
            </p>
            <ul class="team-icon-list">
              <li class="team-list-item">
                <a href="https://www.facebook.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-list-item">
                <a href="https://www.instagram.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="https://www.linkedin.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list-item">
          <img class="team-image" src="/img/jpeg/team-6-desk.jpg" alt="Liam Johnson" height="410" weight="421">
          <div class="team-item-cont">
            <h3 class="team-item-title">
              Clark Thomas
            </h3>
            <p class="team-item-text">
              Fitness Trainer
            </p>
            <p class="text-description-team">
              Clark specializes in mindfulness and stress reduction techniques through guided meditation.
            </p>
            <ul class="team-icon-list">
              <li class="team-list-item">
                <a href="https://www.facebook.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-list-item">
                <a href="https://www.instagram.com/" class="team-icon-link">
                  <svg class="team-icon" width="18" height="18">
                    <use href="/img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

</body>

</html>