.section-team {
    max-width: 375px;
    padding: 64px 16px;
}

.team-meet {
    font-family: Sarabun;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 12px;
}

.team-title {
    font-family: Cabin;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: 1%;
    text-align: center;
    margin-bottom: 20px;
}

.team-text {
    font-family: Sarabun;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    margin-bottom: 48px;
}

.team-list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.team-list-item {
    max-width: 343px;
    width: 100%;
}

.team-image {
    border-radius: 16px;
}

.team-item-cont {
    max-width: 100%;
}

.team-item-title {
    font-family: Sarabun;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    margin-top: 20px;
}

.team-item-text {
    font-family: Sarabun;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
}

.text-description-team {
    font-family: Sarabun;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    margin-top: 12px;
}

.team-icon-list {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.team-item-icon {
    display: flex;
    align-items: center;
}

.team-icon-link {
    display: inline-block;
}

.team-icon {
    width: 24px;
    height: 24px;
    stroke: black;
    fill: black;
}
@media screen and (min-width: 768px) {
    .section-team {
        padding: 40px 32px;
        margin: 0 auto;
    }

    .team-meet {
        margin-bottom: 16px;
    }

    .team-title {
        margin-bottom: 24px;
    }

    .team-text {
        margin-bottom: 40px;
    }

    .team-item-cont {
        max-width: 340px;
    }

    .team-item-title {
        font-size: 22px;
        margin-top: 24px;
    }

    .team-item-text {
        font-size: 18px;
    }

    .text-description-team {
        margin-top: 16px;
    }

    .team-icon-list {
        margin-top: 24px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1336px) {
    .section-team {
        padding: 112px 64px;
        margin: 0 auto;
    }

    .team-item-cont {
        max-width: 421px;
    }

    .team-title {
        margin-bottom: 24px;
    }

    .team-text {
        margin-bottom: 40px;
    }

    .team-item-title {
        font-size: 22px;
        margin-top: 24px;
    }

    .team-item-text {
        font-size: 18px;
    }

    .text-description-team {
        margin-top: 16px;
    }

    .team-icon-list {
        margin-top: 24px;
    }

    .team-list-item {
        width: calc((100% - 48px) / 3);
    }
}