.testimonials {
    padding: 64px 0;
    width: 100%;
}
.subtitle {
    color: #0D0B0A;
   font-family:  "Cabin", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
}
.tagline {
    color: #0D0B0A;
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 24px;
}
.testimonials-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
}
.testimonials-item{
    background-color: #DFEBEB;
    border-radius: 24px;
    width: 100%;
}
.testimonials-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.testimonials-text {
    color: #0D0B0A;
    font-family: "Sarabun", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 32px;
}
.testimonials-img {
    border-radius: 50%;
    margin-bottom: 16px;
}
.client-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client-name {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.client-job {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width:768px) {
    .testimonials {
        padding: 40px 0;   }
    .subtitle {
        font-size: 40px;
        margin-bottom: 24px;
    }
}
@media screen and (min-width:1336px) {
    .testimonials {
            padding: 112px 0;
        }
        .subtitle {
            font-size: 52px;
        }
        .testimonials-item {
            width: calc((100% - 24px) / 2);
        }        
}
